<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta charset="UTF-8">
    <title>HelloWorld!!!</title>
</head>
<body>
<center><h1>Заголовок моей первой страницы</h1></center>
Мне очень нравится мой первый сайт, ведь я его создаю без
помощи сторонних программ. Мои эмоции радости можете
посмотреть на картинке ниже:
<br>
<hr/>
<center><img alt="Эмоции радости"
             src="http://img-fotki.yandex.ru/get/3417
/koziuck-vladimir.1f/0_33a42_9dfed6e1_L"></center>
<br/><br/>
<font style="color:green">Этот текст зеленый</font>
<br/><br/>
<b>А этот текст выделен жирным</b>
<br/><br/>
<s>А HTML - не такой уж и сложный</s>
<sup><s>А HTML - не такой уж и сложный</s></sup>
<s>А HTML - не такой уж и сложный</s>
<sub><s>А HTML - не такой уж и сложный</s></sub>
<h1><font class="styletest">Этот текст будет синим, шрифт Arial и размером 12 пикселей</font></h1>
<br/><br/>
Теперь мне осталось изучить теги html, и я смогу уже создавать
страницы такими, какими я хочу.
<hr>
Этот материал был написан благодаря сайту
<a href="/dataLink">tyt</a>


<br/><br/>
До новых встреч!
</body>
</html>